/*************************
B1 - Banner
*************************/

    /*--- Layout ---*/

    #slides {
        position: relative;
    }

    .slidesjs-container {
        z-index:10;
    }

    /*--- Theming ---*/

    #slides {
        background: #000000;
    }

    /*---------------------
    Pause/Play Button
    ---------------------**/

        /*--- Layout ---*/

        .slidesjs-navigation-top{
            padding: 15px;
        }

        /* Medium + Large Screens - pause/play button displayed over slides */
        @media all and (min-width:768px) {
            .slidesjs-navigation-top {
                margin: 0 auto;
                padding: 0;
                position: absolute;
                top: 8px;
                width:100%;
                z-index:15;
            }
        }

    /*---------------------
    Overlay (Summary Text)
    ---------------------**/

        /*--- Layout ---*/

        .slidesjs-slide-text {
            margin-bottom: 0 !important;
        }

        /* Default for Mobile - overlay below slides */
        .row.slidesjs-navigation-bottom {
            margin-left:0;
            padding: 10px 0;
            width:100%;
            z-index:12;
        }

        /* Default - height adjusted for 2 lines of text */
        /* Default - padding adjusted for stacked rows (summary above controls) */
        .row.slidesjs-navigation-bottom .slidesjs-summary,
        .row.slidesjs-navigation-bottom .col-sm-8 {
            min-height: 75px;
            padding-bottom: 10px;
        }

        /* Narrow Screens */
        @media all and (min-width:480px){

            /* height adjusted for 2 lines of text */
            .row.slidesjs-navigation-bottom .slidesjs-summary,
            .row.slidesjs-navigation-bottom .col-sm-8 {
                min-height: 60px;
            }
        }

        /* Small Screens */
        @media all and (min-width:768px) {

            /* padding adjusted for single row (summary beside controls) */
            .row.slidesjs-navigation-bottom .slidesjs-summary,
            .row.slidesjs-navigation-bottom .col-sm-8 {
                padding-bottom: 0;
            }
        }
        
        /* Medium + Larger Screens */
        @media all and (min-width:992px) {

            /* Medium + Large Screens - overlay displayed over slides */
            .row.slidesjs-navigation-bottom {
                bottom:0;
                position: absolute;
            }
            
             /* height adjusted for 2 lines of text */
            .row.slidesjs-navigation-bottom .slidesjs-summary,
            .row.slidesjs-navigation-bottom .col-sm-8 {
                min-height: 40px;
            }
            
        }

        /*--- Theming ---*/

        .row.slidesjs-navigation-bottom {
            background: rgb(0,0,0);
            background: rgba(0,0,0,0.85);
            color: #FFFFFF;
        }

        .row.slidesjs-navigation-bottom .slidesjs-slide-link {
            color: #428BCA;
        }