/*************************
Base Styles
*************************/

  body {
  	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /*---------------------
  Headings
  ---------------------**/

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #666666;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 300;
  }

  h4, .h4 {
    font-weight: 400;
  }  

  /*--- Pixel to EM Conversion ---*/
  h1, .h1 { font-size: 2.571em; /* 36 px */ }
  h2, .h2 { font-size: 2.143em; /* 30 px */ }
  h3, .h3 { font-size: 1.714em; /* 24 px */ }
  h4, .h4 { font-size: 1.286em; /* 18 px */ }
  h5, .h5 { font-size: 1em; /* 14 px */ }
  h6, .h6 { font-size: .857em; /* 12 px */ }


  /* Bootstrap removes margins from the 'last' paragraph, but Drupal
   * often wraps paragraphs in extra divs and such. */
  p:last-child { margin-bottom: 10px }

  blockquote {
    font-size: 1.250em;
  }

  blockquote p {
    font-weight: 500;
  }

  blockquote h1, 
  blockquote h2, 
  blockquote h3 {
    margin-top: 0;
  }

  /*---------------------
  Links
  ---------------------**/
  a{
      color: #2F70A9; 
      /* WCAG 2.0 AA on #EEEEEE, #F5F5F5, #FFFFFF */
  }

  a:link{
    text-decoration: none;
  }

  a:focus { 
    outline: thin dotted; 
  }

  a:focus, a:hover {
      text-decoration: underline;
  }

  /*--- Links surrounded by text ---*/

  p a:link, li a {
   text-decoration: none; 
   border-bottom: 1px solid;
  }

  p a:focus, p a:hover, li a:focus, li a:hover {
   text-decoration: none; 
   border-bottom: 2px solid; 
  }

  /*--- Inline link lists ---*/

  ul.list-inline li a{
    border-bottom: 0;
  }

  /*--- Links styled as buttons ---*/

  p a.btn:focus, p a.btn:hover {
    border-bottom: 1px solid;
  }

  /*--- Remove line from list links ---*/
  ul.no-link-lines li a {
    text-decoration: none;
    border-bottom: 0;
  }

  ul.no-link-lines li a:focus,
  ul.no-link-lines li a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  /*--- Exceptions ---*/  
  nav li a, .navbar a, .menu a, a.active, .nav a {
      text-decoration: none;
      border-bottom: 0;
  }

  nav li a:focus, nav li a:hover, 
  .navbar a:focus, .navbar a:hover, 
  .nav a:focus, .nav a:hover {
    border-bottom: 0;
  }

  .more-link { margin-top: 15px; }


  /* temporary fix until media-heading is used across all listing views */
  h1 a, h2 a { text-decoration: none !important; }
  h1 a:focus, h1 a:hover,
  h2 a:focus, h2 a:hover { border-bottom: 2px solid !important;}

  /*---------------------
  Lists
  ---------------------**/

  dl {
    margin-top: 0;
  }

  dt {
     padding: 1.5em 0 1em 0;
  }

  dt:first-child {
    padding-top: 0;
  }

  dd {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #EFEFEF;
  }

  /*---------------------
  Images
  ---------------------**/

  figure {
      margin-bottom: 20px;
  }

  figcaption {
      color: #666666;
      font-size: 1em; /* 14px */
      font-style: italic;
      padding: 9px;
      text-align: center;
  }

  /*
   * Icons - FontAwesome icons are variable width, which makes it hard
   * to do layout. Enforce a minimum width.
   */
  .media-object { min-width: 1.8ex; text-align: center; }

  /*---------------------
  File Attachments
  ---------------------**/

  img.file-icon {
    margin-right: 10px;
  }

  /*---------------------
  Form Elements
  ---------------------**/

  input::-webkit-input-placeholder { color: #767676 !important; }
  input::-moz-placeholder { color: #767676 !important; }
  input:-moz-placeholder { color: #767676 !important; /* Older versions of Firefox */ }
  input:-ms-input-placeholder { color: #767676 !important; }

  /*---------------------
  Menus
  ---------------------**/

    /*--- Layout ---*/


     /** Option A - Add nested menus **/
     .main-container .menu .menu {
      padding-left: 20px;
     }

    /** Option B (Disabled) - Add nested menus that keep full width of menu container **/
    /* .main-container .menu .menu li a {  padding-left: 30px; }
    .main-container .menu .menu .menu li a {  padding-left: 50px; }
    .main-container .menu .menu .menu .menu li a {  padding-left: 70px; }*/

    .main-container .menu li.collapsed>a,
    .main-container .menu li.expanded>a {
      padding-right: 30px;
    }

    /*--- Theming ---*/

    .main-container .menu li a { 
      border-bottom: 1px solid #EEEEEE;
      color: #666666;
      font-size: 1.071em;
    }

    .main-container .menu .menu li a {
      font-size: 1em;
    }

    .main-container .menu li a.active-trail {
      color: #2F70A9;
      font-weight: 700;
    }

    .main-container .menu li a:focus,
    .main-container .menu li a:hover { 
      background: #F3F3F3;
    }

    /* Caret for all parent menu items */
    .caret-default,
    .main-container .menu li.collapsed>a:after,
    .main-container .menu li.expanded>a:after {
      border-top: 4px dashed;
      border-right: 4px solid transparent;
      border-left:4px solid transparent;
      content: "";
      display: block;
      height:0;
      position: absolute;
      right: 10px;
      top: 20px;
      width: 0;
    }

    .caret-right {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      border-left: 4px solid;
    }

  /*---------------------
   Panels
  ---------------------**/

    /*--- Theming ---*/
    .panel-title {
      color: inherit;
      font-weight: 500;
    }

    .panel-primary { border-color: #275C8B; }
    .panel-success { border-color: #C2DEAA; }
    .panel-info { border-color: #9CDDEA; }
    .panel-warning { border-color: #F6DDA8; }
    .panel-danger { border-color: #E0B0B8; }
    
    .panel-primary>.panel-heading { 
      background: #2B669A;
      border-color: #275C8B;
    }

    .panel-success>.panel-heading { 
      color: #057A51; 
      border-color: #C2DEAA;
    }

    .panel-info>.panel-heading { 
      color: #336F98; 
      border-color: #9CDDEA;
    }

    .panel-warning>.panel-heading { 
      color: #A66208; 
      border-color: #F6DDA8;
    }

    .panel-danger>.panel-heading { 
      color: #B83635; 
      border-color: #E0B0B8;
    }

  /*---------------------
   Blocks
  ---------------------**/

    /*--- Theming ---*/

    /* title links - underline made thinner */
    .block-title a:focus,
    .block-title a:hover {
      border-bottom: 2px solid;
      text-decoration: none;
    }

  /*---------------------
   Panes
  ---------------------**/

    /*--- Theming ---*/

    /* title links - underline made thinner */
    .pane-title a:focus,
    .pane-title a:hover {
      border-bottom: 2px solid;
      text-decoration: none;
    }

  /*---------------------
  Labels
  ---------------------**/

  .label {
    font-size: .857em;
  }

  .label-default { background: #333333; }
  .label-primary{ background: #2B669A; }
  .label-success{ background: #088856; }
  .label-info{ background: #5B7C85; }
  .label-warning{ background: #CA500F; }
  .label-danger{ background: #AC2118; }

  /*---------------------
  Alerts
  ---------------------**/

  .alert-success{ border-color: #C2DEAA;}
  .alert-info{ border-color: #9CDDEA;}
  .alert-warning{ border-color: #F6DDA8;}
  .alert-danger{ border-color: #E0B0B8;}

  .alert-success, .alert-success .alert-link { color: #057A51; }
  .alert-info, .alert-info .alert-link { color: #336F98; }
  .alert-warning, .alert-warning .alert-link { color: #A66208; }
  .alert-danger, .alert-danger .alert-link { color: #B83635;}

  /*---------------------
  Buttons
  ---------------------**/

    /* Default */
    p a.btn-default:link { border-bottom-color: #CCCCCC;}

    /* Primary */
    .btn-primary {
      background: #2B669A;
      border-color: #265C8A;
    }

    p a.btn-primary:link { border-bottom-color: #265C8A;}

    .btn-primary:focus,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active {
      background: #1E476C;
      border-color: #1A3D5C;
    }

    .btn-primary.disabled, 
    .btn-primary[disabled], fieldset[disabled] .btn-primary, 
    .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, 
    .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, 
    .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, 
    .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
      background: #2B669A;
      border-color: #265C8A;
    }

    /* Success */
    .btn-success {
      background: #088856;
      border-color: #07754A;
    }

    p a.btn-success:link { border-bottom-color: #07754A;}

    .btn-success:focus,
    .btn-success:hover,
    .btn-success:active,
    .btn-success.active {
      background: #06633F;
      border-color: #055033;
      
    }

    .btn-success.disabled, 
    .btn-success[disabled], fieldset[disabled] .btn-success, 
    .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, 
    .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, 
    .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, 
    .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
      background: #088856;
      border-color: #07754A;
    }

    /* Info */
    .btn-info {
      background: #5B7C85;
      border-color: #537179;
    }

    p a.btn-info:link { border-bottom-color: #537179;}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active,
    .btn-info.active {
      background: #4B666E;
      border-color: #435B62;
    }

    .btn-info.disabled, 
    .btn-info[disabled], fieldset[disabled] .btn-info, 
    .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, 
    .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, 
    .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, 
    .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
      background: #5B7C85;
      border-color: #537179;
    }

    /* Warning */
    .btn-warning {
      background: #CA500F;
      border-color: #B8490E;
    }

    p a.btn-warning:link { border-bottom-color: #B8490E;}

    .btn-warning:focus,
    .btn-warning:hover,
    .btn-warning:active,
    .btn-warning.active {
      background: #A5420C;
      border-color: #933A0B;
    }

    .btn-warning.disabled, 
    .btn-warning[disabled], fieldset[disabled] .btn-warning, 
    .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, 
    .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, 
    .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, 
    .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
      background: #CA500F;
      border-color: #B8490E;
    }

    /* Danger */
    .btn-danger {
      background: #AC2118;
      border-color: #9B1E16;
    }

    p a.btn-danger:link { border-bottom-color: #9B1E16;}

    .btn-danger:focus,
    .btn-danger:hover,
    .btn-danger:active,
    .btn-danger.active {
      background: #8A1A13;
      border-color: #781711;
    }

    .btn-danger.disabled, 
    .btn-danger[disabled], fieldset[disabled] .btn-danger, 
    .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, 
    .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, 
    .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, 
    .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
      background: #AC2118;
      border-color: #9B1E16;
    }

  /*---------------------
  Pagination
  ---------------------**/
    .pagination>.disabled>span, 
    .pagination>.disabled>span:hover, 
    .pagination>.disabled>span:focus {
      color: #666666;
    }