/*************************
 Layout Styles
*************************/

  /*---------------------
   Regions
  ---------------------**/

    aside { 
      padding-top: 20px; 
    }

    @media all and (min-width:992px) { 
      aside{ 
        padding-top: 0;
      }
    }

  /*---------------------
   Gutters
  ---------------------**/

    @media all and (min-width:992px) { 
      .xs-gutter {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
