/*************************
 Layout Styles
*************************/

  /*---------------------
     Regions
    ---------------------**/

    aside { 
      padding-top: 20px; 
    }

    @media all and (min-width:992px) { 
      aside{ 
        padding-top: 0;
      }
    }

  /*---------------------
     Gutters
    ---------------------**/

    @media all and (min-width:992px) { 
      .xs-gutter {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    /*---------------------
     Panels
    ---------------------**/

    /* Inherits Bootstrap (default) heading colours instead of set heading colour */
    .panel-title {
      color: inherit;
    }

    /*---------------------
     Blocks
    ---------------------**/

    /*--- Theming ---*/

    /* title links - underline made thinner */
    .block-title a:focus,
    .block-title a:hover {
      border-bottom: 2px solid;
      text-decoration: none;
    }

    /*---------------------
     Panes
    ---------------------**/

    /* title links - underline made thinner */
    .pane-title a:focus,
    .pane-title a:hover {
      border-bottom: 2px solid;
      text-decoration: none;
    }

