/******************
 Media
*****************/

    /*--- Layout ---*/
    .media-listing-page .media, 
    .teaser-list .media { 
        margin-top: 0; 
    }

    /*--- Theming ---*/

    .media-listing-page .media,
    .teaser-list .media,
    .detail-page {
        border-bottom: 1px solid #EEEEEE;
    }

    .media-middle,
    .media-middle a {
        vertical-align: middle;
    }

    .submitted {
        color: #666666;   
    }

    /*---------------------
    Thumbnails
    ---------------------**/

        /*--- Layout ---*/
        .media .media-thumbnail { 
            margin-bottom: 20px; 
        }

        @media all and (min-width:992px) { 
            .media .media-thumbnail { 
                margin-bottom: 0;
            } 
        }

    /*---------------------
    Titles
    ---------------------**/

        .media .media-heading {
            margin-top: 1px;
        }

        .media .media-heading a {
            text-decoration: none;
            border-bottom: 0;
        }

        .media .media-heading a:focus,
        .media .media-heading a:hover{
            border-bottom: 1px solid;
            text-decoration: none;
        }

        /* H1 and h2 title links - underline made thinner */
        .media h1.media-heading a:focus,
        .media h1.media-heading a:hover,
        .media h2.media-heading a:focus,
        .media h2.media-heading a:hover {
            border-bottom: 2px solid;
        }


/******************
 Listing Pages
*****************/

    /*--- Layout ---*/

    .media-listing-page .media {
        margin-bottom: 20px;
        padding: 0 0 20px 0;
    }

    /*---------------------
    Metadata
    ---------------------**/

        /*--- Layout ---*/
        .media-listing-page .media .media-header .media-meta {
            margin-bottom: 1.143em; /* 16px */
        }

        /*--- Theming ---*/
        .media-listing-page .media .media-header .media-meta {
            color:#767676;
            font-size: 1.143em; /* 16px */
        }

    /*---------------------
    Text
    ---------------------**/

        /*--- Layout ---*/
        .media-listing-page .media p,
        .media-listing-page .media p:last-child { 
            margin-bottom: 0;
        }


/**************
Teaser Lists
***************/

    /*--- Layout ---*/

    .teaser-list {
        padding-top: 10px;
    }

    .teaser-list .media {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }


    /*---------------------
    Thumbnails
    ---------------------**/

        /*--- Layout ---*/
        .teaser-list .media .media-thumbnail {
            margin-bottom: 10px;
        }

    /*---------------------
    Header
    ---------------------**/
        .teaser-list .media .media-header {
            margin-bottom: 10px;
        }

    /*---------------------
    Titles
    ---------------------**/

        /*--- Layout ---*/
        .teaser-list .media .media-heading {
            margin-bottom: 3px;
            margin-top: 3px;
        }

    /*---------------------
    Summary
    ---------------------**/
    .teaser-list .media .media-meta {
        color: #767676;
    }


    /*---------------------
    More Button
    ---------------------**/
        /*--- Theming ---*/
        .teaser-list .more-link .btn-default{
            color: #696969;
        }

/******************
 Detail Pages
*****************/

    /*---------------------
    Meta Data
    ---------------------**/
        /*--- Layout ---*/
        .detail-page .media-meta {
            margin-bottom: 16px;
        }

        .detail-page .media-meta p {
            margin-bottom: 6px;
        }

        /*--- Theming ---*/
        .detail-page .media-meta {
            color: #767676;
            font-size: 1.143em; /* 16px */
        }

    /*---------------------
    Highlights
    ---------------------**/

        /*--- Layout ---*/

        .detail-page .media-highlight {
            display: block;
            margin-left: 45px;
            position: relative;
        }

        .detail-page .media-highlight span.glyphicon {
            left: -45px;
            padding-top: 1px;
            position: absolute;
        }

        .detail-page .media-highlight .pane-title {
            margin-top: 0;
        }


    /*---------------------
    Vertical Spacing (View Rows)
    ---------------------**/

        .detail-page .panel-panel .panel-pane .views-row  {
            margin-bottom: 2em;
        }

/*************************
Browse By Lists
*************************/

    .browse-by-list ul li a:hover,
    .browse-by-list ul li a:focus {
        border-bottom: 1px solid;
    }

    .browse-by-list ul li a {
        border-bottom: none;
    }
