@import url("//www.uoguelph.ca/css/uofg.css");
@import url("//fonts.googleapis.com/css?family=Lato:300,400");

/*
 * Global styles
 */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
}

div.row {
  margin-top: 0;
}


/*
 * Toolbar
 */

body.toolbar {
  background-position: 0 30px;
}

body.toolbar-drawer {
  padding-top: 30px !important;
}



/*
 * Navbar
 */

#navbar {
  margin-bottom: 40px; /* leave some space between navbar and content */
  height: 150px;
}

.navbar-nav {
  clear: right;
  margin-top: 100px;
}

.navbar > .container .navbar-brand {
  background-image: url(//www.uoguelph.ca/img/universityofguelph.gif);
  background-repeat: no-repeat;
  padding: 36px 0 0 120px;
  margin-left: 0;
  color: white;
  font-size: 1.5em;
  position: absolute;
}

.navbar.container {
  margin-top: 0;
}

.navbar-default .navbar-collapse {
  padding-left: 100px;
}


/*
 * Links
 */
p a[href] { text-decoration: underline; }



/*
 * Icons. The social media feature expects an icon class of the
 * form fa-{network}-square for the icon. All but flickr and 
 * myspace have an icon of this form, so we fill in the 2 missing
 * icon classes here.
 */
.fa.fa-flickr-square::before { content: "\f16e"; }
.fa.fa-myspace-square::before { content: "\f007"; }
.fa.fa-instagram-square::before { content: "\f16d"; }

