@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");
#ug-header .navbar-static-top { z-index: 1001; }
#ug-header form.navbar-form { margin-bottom:0; }
#ug-header .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }

#ug-header #weatherFeed, #weatherFeed * { display:inline; }
#ug-header #weatherFeed div {
	display: none;
}
#ug-header #weatherFeed .Cur, #weatherFeed .Cur *  {
	display: inline !important;
}
#ug-header {
	color: #FEFEFE;
	background: url(//www.uoguelph.ca/img/headerbg.jpg);
	background-repeat: repeat-x;
}
#ug-header .navbar-toggle {
	background: #fff;
}
#ug-header .navbar {
	border: 0;
	margin-bottom: 0;
}
#ug-header .nav-clear {
	clear: right;
}
#ug-header .navbar-default {
	background: none;
}

#ug-header .navbar-default.navbar-static-top{
  background: url(//www.uoguelph.ca/img/headerbg.jpg) black;
  background-repeat: repeat-x;
}

#ug-header .dropdown-menu,
#ug-header footer.navbar-default,
#ug-header nav.navbar div.in,
#ug-header nav.navbar div.collapsing,
#ug-header nav.navbar div.in form,
#ug-header nav.navbar div.collapsing form {
	background-color: #45403a;
	border: 000;
}
#ug-header .dropdown-menu li.divider {
	background: #000;
	border: 000;
}
#ug-header .navbar-default .navbar-nav>.open>a,
#ug-header .navbar-default .navbar-nav>.open>a:hover,
#ug-header .navbar-default .navbar-nav>.open>a:focus {
	background: #45403a;
	text-shadow: none;
}
#ug-header .dropdown-menu>li>a:hover {
	background: #000;
}
#ug-header .navbar-brand {
	padding: 0;
	height: 150px;
}
#ug-header .navbar-form {
	clear: right;
	margin-top: 0;
	margin-bottom: 2.5em;
	max-width: 239px;
}
#ug-header .navbar-default .navbar-nav li a,
#ug-header .navbar-default .navbar-nav .open .dropdown-menu>li>a,
#ug-header .navbar-default .navbar-nav>li>a:hover,
#ug-header .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

#ug-header .navbar-default .navbar-nav li a:hover,
#ug-header .navbar-default .navbar-nav>.open>a,
#ug-header .navbar-default .navbar-nav>.open>a:hover,
#ug-header .navbar-default .navbar-nav>.open>a:focus,
#ug-header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
#ug-header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #fff
}
#ug-header .navbar-small {
	font-size: 11px;
	padding: 0 25px;
}
#ug-header .in .navbar-small,
#ug-header .collapsing .navbar-small {
	font-size: 14px;
}
#ug-header .navbar-small li a,
#ug-header .in li a,
#ug-header .collapsing li a,
#ug-header .dropdown-menu>li>a,
#ug-header footer.navbar li a {
	text-shadow: none !important;
}
#ug-header .navbar-small>li>a {
	padding: 5px 10px;
}
#ug-header .in .navbar-small>li>a,
#ug-header .collapsing .navbar-small>li>a {
	padding: 10px 0;
}
#ug-footer footer.navbar {
	font-size: small;
	padding: 0 25px;
	margin-bottom:20px;
}
#ug-header .navbar label {
	font-weight: 400;
}
#ug-header div.row {
	margin-top: 20px;
}

@media (min-width: 992px) {
	#ug-header .navbar-default .navbar-nav li a,
	#ug-header .navbar-default .navbar-nav .open .dropdown-menu>li>a,
	#ug-header .navbar-default .navbar-nav>li>a:hover,
	#ug-header .navbar-default .navbar-nav>li>a:focus {
		text-shadow: 1px 1px 0 #a60, -1px -1px 0 #a60, 1px -1px 0 #a60, -1px 1px 0 #a60, 1px 1px 0 #a60;
	}

	#ug-header #globalnav li a,
	#ug-header #globalnav>li>a:hover {
		text-shadow: 1px 1px 0 #600, -1px -1px 0 #600, 1px -1px 0 #600, -1px 1px 0 #600, 1px 1px 0 #600 !important;
	}

	#ug-header #globalnav .open .dropdown-menu>li>a,
	#ug-header #globalnav>li>a:focus  {
		text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333 !important;
	}
}

span.form-required {
  color: #990000;
  font-size: smaller;
}

