/***********************
UG Theme v1.0
Live Date: June 23, 2015
***********************/

	/*---------------------
	Header
	-----------------------**/

		/*--- Theming ---*/

	    #page-header{
		    background: #45403A url("http://www.uoguelph.ca/img/featurebg.jpg");
	        background-repeat: repeat-x;
		}

	/*---------------------
	Navigation - Global
	---------------------**/

	    /*--- Theming ---*/

	    #ug-header .navbar-small {
	        font-size: .857em;
	    }

	    /* TO DO - Update to include visual focus colour changes */
	    #ug-navbar .navbar-nav>.dropdown>a:hover .caret,
	    #ug-navbar .navbar-nav>.dropdown>a:focus .caret, 
	    #ug-navbar .navbar-nav>.dropdown>a .caret,
	    #ug-navbar .navbar-nav>.open>a .caret,
	    #ug-navbar .navbar-nav>.open>a:hover .caret,
	    #ug-navbar .navbar-nav>.open>a:focus .caret {
	        border-bottom-color: #FFFFFF;
	        border-top-color: #FFFFFF;
	    }

	    /*--- Layout ---*/

	    #globalnav.navbar-right {
	    	margin-right:0;
	    }


	/*---------------------
	Navigation - Local
	---------------------**/

	    /*--- Layout ---*/
		#navbar .container .navbar-collapse {
			margin-right: 15px;
		}

	/*---------------------
	Footer - Local
	---------------------**/


	    /*--- Theming ---*/

		#ug-footer-local {
			background: #F5F5F5;
			border-top: 1px solid #E5E5E5;
		}

		#ug-footer-local .footer {
			border-top: 0;
		}

		/* Extend global footer across full width */
		#ug-footer-global {
			background: #45403A;
		}

		/* Menu styling in footer */
		#ug-footer-local .footer .nav>li>a:focus,
		#ug-footer-local .footer .nav>li>a:hover {
			background: #FFFFFF;
		}

	    /*--- Layout ---*/

		#ug-footer-local {
			margin-top: 45px;
		}

		#ug-footer-local .footer {
			margin-top: 0;
		}

	/*---------------------
	Footer - Global
	---------------------**/

	    /*--- Theming ---*/

	    #ug-footer-global footer.navbar-inverse{
	        background: #45403A;
	        border:000;
	    }

	    #ug-footer-global footer.navbar-inverse .navbar-nav>li>a {
	        color: #CCCCCC;
	    }

		#ug-footer-global footer.navbar-inverse .navbar-nav>li>a:focus,
	    #ug-footer-global footer.navbar-inverse .navbar-nav>li>a:hover {
	        color: #FFFFFF;
	    }

	/*---------------------
	Sidebar
	---------------------**/

	    /*--- Theming ---*/

	    /* Sidebar elements have smaller font-size regardless of heading */
		.not-front .panel-panel.right .pane-title {
			font-size: 1.286em; /* 18px */
			font-weight: 400;
		}