/***********************
UG Theme v1.0
Live Date: June 23, 2015
***********************/

	/*---------------------
	Header
	-----------------------**/

		/*--- Theming ---*/

	    #page-header{
		    background: #45403A url("http://www.uoguelph.ca/img/featurebg.jpg");
	        background-repeat: repeat-x;
		}

	/*---------------------
	Site Title
	-----------------------**/

		/*--- Theming ---*/
        #navbar.navbar-inverse .navbar-brand {
            color: #F5F5F5;
        }

        #navbar.navbar-inverse a.navbar-brand:focus,
        #navbar.navbar-inverse a.navbar-brand:hover {
            color: #999999;
        }

	/*---------------------
	Navigation - Global
	---------------------**/

	    /*--- Layout ---*/

	    #globalnav.navbar-right {
	    	margin-right:0;
	    }

	    /*--- Theming ---*/

	    #ug-navbar .navbar-nav .dropdown a .caret{
	        border-bottom-color: #FFFFFF;
	        border-top-color: #FFFFFF;
	    }

		#globalnav>li>a:nth-child(1):focus:after{
			border: 1px dotted #FFFFFF;
		}

		/* Focus/Hover styling for homepage menu */
	    #globalnav>li>a:nth-child(1):focus:after,
	    #globalnav>li>a:nth-child(1):hover:after {
	    	background: #b30100;
	    	bottom: 4px;
	    	content:"";
	    	display: block;
	    	height: 36px;
	    	left: 0;
	    	padding: 10px 15px;
	    	position:absolute;
	    	width: 100%;
	    	z-index: -10;
	    }

	/*---------------------
	Navigation - Global - Small Widgets
	---------------------**/

	    /*--- Theming ---*/

	    #ug-header .navbar-small {
	        font-size: .857em;
	    }

	    #ug-header .navbar-small li a:focus,
	    #ug-header .navbar-small li a:hover {
	    	background: #990100;

	    }

	/*---------------------
	Navigation - Local
	---------------------**/

	    /*--- Layout ---*/
		#navbar.navbar-inverse .container .navbar-collapse {
			margin-right: 15px;
		}

	    /*--- Theming ---*/

	    /** Dotted border styling causes slight change in padding. Fix before adding. */
	    /*#navbar.navbar-inverse .navbar-nav>li>a:focus{
			border: 1px dotted #FFFFFF;
		}*/

	    /** Dropdown menu item - active hover/focus **/
	    #navbar.navbar-inverse .navbar-nav>li>.dropdown-menu>.active>a,
	    #navbar.navbar-inverse .navbar-nav>li>.dropdown-menu>.active>a:hover,
	    #navbar.navbar-inverse .navbar-nav>li>.dropdown-menu>.active>a:focus {
	      background: #333333;
	      color: #FFFFFF;
	    }

		/** Dropdown menu item - hover/focus **/
	    #navbar.navbar-inverse .navbar-nav>li>.dropdown-menu>li>a:hover, 
	    #navbar.navbar-inverse .navbar-nav>li>.dropdown-menu>li>a:focus {
	    	background: #E4E4E4;
	    }

		/** Default menu item **/
	    #navbar.navbar-inverse .navbar-nav>li>a{ color: #F5F5F5; }
	    #navbar.navbar-inverse .navbar-nav>li>a .caret,
	    #navbar.navbar-inverse .navbar-nav>li>a .caret {
	    	border-top-color: #F5F5F5;
	    	border-bottom-color: #F5F5F5;
	    }

		/** Default menu item - hover focus **/
	    #navbar.navbar-inverse .navbar-nav>li>a:focus,
	    #navbar.navbar-inverse .navbar-nav>li>a:hover { color: #999999; }
	    #navbar.navbar-inverse .navbar-nav>li>a:focus .caret,
	    #navbar.navbar-inverse .navbar-nav>li>a:hover .caret {
	    	border-top-color: #999999;
	    	border-bottom-color: #999999;
	    }

	/*---------------------
	Footer - Local
	---------------------**/


	    /*--- Layout ---*/

		#ug-footer-local .footer {
			margin-top: 0;
		}

		/* List styling in footer */
		#ug-footer-local .footer ul {
			padding-left: 0;
		}

		#ug-footer-local .footer ul:not(.menu) li {
			margin-bottom: 10px;
		}

		#ug-footer-local .footer ul:not(.menu) li:first-child{
			padding-top: 10px;
		}

	    /*--- Theming ---*/

		#ug-footer-local {
			background: #F5F5F5;
			border-top: 1px solid #E5E5E5;
		}

		#ug-footer-local .footer {
			border-top: 0;
		}

		/* Extend global footer across full width */
		#ug-footer-global {
			background: #45403A;
		}

		/* List styling in footer */
		#ug-footer-local .footer ul:not(.menu) li {
			list-style-type: none;
		}

		/* Menu styling in footer */
		#ug-footer-local .footer .nav>li {
			border-bottom: 1px solid #E5E5E5;
		}

		#ug-footer-local .footer .nav>li>a:focus,
		#ug-footer-local .footer .nav>li>a:hover {
			background: #FFFFFF;
		}


	/*---------------------
	Footer - Global
	---------------------**/

	    /*--- Theming ---*/

	    #ug-footer-global footer.navbar-inverse{
	        background: #45403A;
	        border:000;
	    }

	    #ug-footer-global footer.navbar-inverse .navbar-nav>li>a {
	        color: #CCCCCC;
	    }

		#ug-footer-global footer.navbar-inverse .navbar-nav>li>a:focus,
	    #ug-footer-global footer.navbar-inverse .navbar-nav>li>a:hover {
	        color: #FFFFFF;
	    }

	/*---------------------
	Sidebar
	---------------------**/

	    /*--- Theming ---*/

	    /* Main container sidebar elements have smaller font-size regardless of heading */
		.not-front .main-container .panel-panel.col-sm-4 .pane-title,
		.not-front .main-container .panel-panel.col-sm-3 .pane-title,
		.not-front .main-container .panel-panel.col-sm-2 .pane-title,
		.not-front .main-container .panel-panel.col-sm-1 .pane-title,
		.not-front .main-container aside .block-title {
			font-size: 1.286em; /* 18px */
			font-weight: 400;
		}