/* Prevents slides from flashing */
body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #666;
}
h2 {
	font-weight: 300;
	font-size: 36px;
}
h3 {
	font-size: 20px;
}
#slides {
	display: none;
}
.newsbuttons {
	float: right;
	margin-right: 0px;
}

#infofor .disabled {
	cursor: default;
	color: #bbb;
}
.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .panel-default>.panel-heading, a.disabled strong, h3.panel-title {
	background:#fff;	
	font-weight:400;
	font-size: 14px;
}
h3.panel-title, .newsbuttons a {
	color: #bbb;
}

.embed-responsive-16by9 {
	margin-bottom: 1em;
}
#weatherFeed, #weatherFeed * { display:inline; }
#weatherFeed div {
	display: none;
}
#weatherFeed .Cur, #weatherFeed .Cur *  {
	display: inline !important;
}
#socialmedia, #infofor {
	margin-top: 1em;
}
#socialmedia img {
	margin: 2px;
}
a.event {
	text-decoration: none;
	font-size: small;
	color: #333;
	display: block;
	padding: 10px;
	text-decoration: none;
	border-bottom: dotted 2px #ddd;
}
.day {
	float: left;
	font-size: 3em;
	line-height: 1em;
	color: #999;
	display: inline-block;
	width: 1.2em;
}
.date {
	display: block;
	float: left;
	width: 8em;
	font-weight: bold;
	margin-top: -2px;
}
.month {
	display: inline-block;
	text-transform: uppercase;
	width: 40px;
	margin: 2px 0 0 5px;
	font-size: 1.2;
	color: #999;
}
.year {
	display: inline-block;
	text-transform: uppercase;
	width: 40px;
	margin: 0 0 0 5px;
	color: #999;
}
.title {
	font-weight: bold;
	background: none;
	color: #000;
	margin: 0 0 5px;
	padding: 0;
	display: block;
	margin-left: 8em;
}
.info {
	margin-left: 8em;
	display: block;
	color: #666;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	color:#000;
	background:#fff;
}
a.sr-only { text-decoration:underline;}
nav.navbar.navbar-default.navbar-static-top {
	background-color: #000;
}
body, nav.navbar.navbar-default.navbar-static-top {
	background-image: url(http://www.uoguelph.ca/img/headerbg.jpg);
	background-repeat: repeat-x;
}
.navbar-toggle {
	background: #fff;
}
.navbar {
	border: 0;
	margin-bottom: 0;
}
.nav-clear {
	clear: right;
}
.navbar-default {
	background: none;
}
.dropdown-menu, footer.navbar-default, nav.navbar div.in, nav.navbar div.collapsing, nav.navbar div.in form, nav.navbar div.collapsing form {
	background-color: #45403a;
	border: 000;
}
.dropdown-menu li.divider {
	background: #000;
	border: 000;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: #45403a;
	text-shadow: none;
}
.dropdown-menu>li>a:hover {
	background: #000;
}
.navbar-brand {
	padding: 0;
	height: 150px;
}
.navbar-form {
	clear: right;
	margin-top: 0;
	margin-bottom: 2.5em;
}
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #fff
}
.navbar-small {
	font-size: 11px;
	padding: 0 25px;
}
.in .navbar-small, .collapsing .navbar-small {
	font-size: 14px;
}
.navbar-small li a, .in li a, .collapsing li a, .dropdown-menu>li>a, footer.navbar li a {
	text-shadow: none !important;
}
.navbar-small>li>a {
	padding: 5px 10px;
}
.in .navbar-small>li>a, .collapsing .navbar-small>li>a {
	padding: 10px 0;
}
footer.navbar {
	font-size: small;
	padding: 0 25px;
	margin-bottom:20px;
}
.navbar label {
	font-weight: 400;
}
div.row {
	margin-top: 20px;
}

#features a.thumbnail {
	display:block;
	min-height: 250px;	
}
a.thumbnail img {
	margin-bottom:0.5em;
}
a.thumbnail:hover { text-decoration:none;}

#events td { padding:0 1em 0.5em 0; vertical-align:top; min-width:75px; }

address strong { font-size: 24px;
font-weight: 300; 
}


@media (min-width: 992px) {
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	text-shadow: 1px 1px 0 #a60, -1px -1px 0 #a60, 1px -1px 0 #a60, -1px 1px 0 #a60, 1px 1px 0 #a60;
}
#feature {
	background: #45403a url("http://www.uoguelph.ca/img/featurebg.jpg");
	background-repeat: repeat-x;
}
.newsbuttons {
	margin-top: 25px;
}

#features .thumbnail {
	min-height: 200px;	
}
}


